* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  height: 10vh;
  width: 100%;
  background: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer {
  height: 10vh;
  width: 100%;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-list {
  min-height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  text-align: center;
}
.favorites {
  min-height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  text-align: center;
}

.book-details {
  width: 100%;
  min-height: 80vh;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  padding: 10px;
}

.book-description {
  margin: 0px 10px;
}

.img {
  height: 300px;
  width: 300px;
  transition: all 0.3s ease;
}
img:hover {
  transform: scale(1.2);
}

.book-card {
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
  margin: 20px 0;
}

button {
  width: 300px;
  font-size: 20px;
  padding: 10px;
  background: black;
  color: white;
  border-radius: 5px;
}
