* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

.navbar {
  height: 10vh;
  width: 100%;
  background: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer {
  height: 10vh;
  width: 100%;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-list {
  min-height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  text-align: center;
}
.favorites {
  min-height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  text-align: center;
}

.book-details {
  width: 100%;
  min-height: 80vh;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  padding: 10px;
}

.book-description {
  margin: 0px 10px;
}

.img {
  height: 300px;
  width: 300px;
  transition: all 0.3s ease;
}
img:hover {
  transform: scale(1.2);
}

.book-card {
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
  margin: 20px 0;
}

.button-card {
  width: 300px;
  font-size: 20px;
  padding: 10px;
  background: black;
  color: white;
  border-radius: 5px;
}

.styleRow {
  border: 2px solid rgb(20, 129, 211);
  margin: 20px;
  padding: 20px;
  overflow: auto;
}

.styleForm-form {
  float: left;
  width: 50%;
  font-size: 14px;
  padding: 6px 10px;
  margin-right: 10px;
  padding: 5px 5px 5px;
}

.styleForm button {
  float: left;
  padding: 6px 10px;
  background-color: rgb(20, 129, 211);
  color: white;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  margin: 8px;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid rgb(20, 129, 211);
  color: rgb(20, 129, 211);
  cursor: pointer;
}

.paginationBttns a:hover {
  color: white;
  background-color: rgb(20, 129, 211);
}

.paginationActive a {
  color: white;
  background-color: rgb(20, 129, 211);
}

@media (max-width: 860px) {
  .book-list {
    min-height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    text-align: center;
  }
}

@media (max-width: 472px) {
  .book-list {
    min-height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    text-align: center;
  }
}
